<ul>
	{% if cateogires %}
		{% for c in categories %}
			<li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
		{% endfor %}
	{% else %}
		<li><strong>There are no categories present.</strong></li>
	{% endif %}
	{% for c in cateogires %}
		{% if c == current_category %}
		<li>
			<strong>
				<a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
			</strong>
		</li>
		{% else %}
		<li>
			<a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>





